<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>GerenciadorTarefas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletCadastrarUsuario</display-name>
    <servlet-name>ServletCadastrarUsuario</servlet-name>
    <servlet-class>controller.ServletCadastrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCadastrarUsuario</servlet-name>
    <url-pattern>/cadastrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogarUsuario</display-name>
    <servlet-name>ServletLogarUsuario</servlet-name>
    <servlet-class>controller.ServletLogarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogarUsuario</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCadastrarTarefa</display-name>
    <servlet-name>ServletCadastrarTarefa</servlet-name>
    <servlet-class>controller.ServletCadastrarTarefa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCadastrarTarefa</servlet-name>
    <url-pattern>/cadastrarTarefa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListarTarefas</display-name>
    <servlet-name>ServletListarTarefas</servlet-name>
    <servlet-class>controller.ServletListarTarefas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListarTarefas</servlet-name>
    <url-pattern>/listarTarefas</url-pattern>
  </servlet-mapping>
</web-app>